iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

img.spotlight,
video.spotlight {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.deck-container > .slide .deck-before.temp,
.deck-container > .slide .deck-previous.temp,
.deck-container > .slide.deck-before .temp:not(.slide),
.deck-container > .slide.deck-previous .temp:not(.slide) {
  opacity: 0;
  position: absolute;
}
.deck-container > .slide .deck-current.temp,
.deck-container > .slide.deck-current .temp:not(.slide) {
  position: relative;
}
.slide.abs-bc,
.abs-bc {
  width: 100%;
  position: absolute !important;
  top: auto;
  bottom: 30px;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 2;
}

